:root {
    --main-color: #1e90ff;
    --background-color: #f5f7f9;
    --text-color: #333;
    --boder-color: #dbdbdb;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    font-family: "Poppins", sans-serif;
    scroll-behavior: smooth;
}

body {
    background-color: var(--background-color);
    color: var(--text-color);
}

section {
    min-height: 85vh;
    margin: 0 15%;
    padding-top: 6rem;
}

/* highlight */
.span-hl {
    background: linear-gradient(135deg, #007BFF, #8E44AD);
    background-clip: text;
    color: transparent;
}

.img-white {
    background-color: var(--background-color);
    padding: 1rem;
    border-radius: 50%;
    z-index: 2;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.img-white img {
    width: 100%;
    height: auto;
    border-radius: 50%;
}

.my-img {
    position: relative;
    width: 24vw;
    border-radius: 50%;
    padding: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.my-img::before,
.my-img::after {
    content: "";
    position: absolute;
    width: 120%;
    height: 120%;
    background: conic-gradient(transparent, transparent, transparent, #007BFF);
    animation: rotate 10s linear infinite;
    z-index: 1;
}

.my-img::after {
    background: conic-gradient(transparent, transparent, transparent, #8E44AD);
    animation-delay: -5s;
}

.my-img img {
    width: 100%;
    border-radius: 50%;
    position: relative;
    z-index: 2;
}

@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}


/* scrollbar */
::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}

::-webkit-scrollbar-track {
    background: var(--background-color);
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background: rgba(30, 144, 255, 0.6);
    border-radius: 10px;

}

::-webkit-scrollbar-thumb:hover {
    background: var(--main-color);
}

.heading {
    font-size: 5rem;
    text-align: center;
    margin: 5rem 0 3rem 0;
}

h4 {
    font-size: 2.5rem;
}