/* Header */
.header {
    position: fixed;
    background-color: white;
    width: 100%;
    top: 0;
    left: 0;
    padding: 2rem 15%;
    border-bottom: 1px solid var(--boder-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1000;
    user-select: none;
}

.logo {
    font-size: 3rem;
    text-decoration: none;
    color: var(--text-color);
    font-weight: 800;
    cursor: pointer;
    transition: 0.3s ease-in-out;
}

.logo:hover {
    transform: scale(1.1);
}

#menu-icon {
    font-size: 3rem;
    color: var(--main-color);
    display: none;
}

.navbar a {
    text-decoration: none;
    font-size: 1.8rem;
    color: var(--text-color);
    margin-left: 3rem;
    font-weight: 500;
    border-bottom: 3px solid transparent;
    transition: 0.3s ease-in-out;
}

.navbar a:hover {
    color: var(--main-color);
    border-bottom: 3px solid var(--main-color);
}

/* home */
.home {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10rem;
}

.home-content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-align: left;
}

.home-content h1 {
    font-size: 6rem;
    font-weight: 700;
    margin-top: 1.5rem;
    line-height: 1;
}

.home-content h3 {
    font-size: 4rem;
    margin: 1rem 0;
}

.home-content h3 span {
    position: relative;
    display: inline-block;
    color: transparent;
    -webkit-text-stroke: 0.1rem #007BFF;
    animation: displayText 16s linear infinite;
    animation-delay: calc(-4s * var(--i));
}

@keyframes displayText {

    25%,
    100% {
        display: none;
    }
}

.home-content h3 span::before {
    content: attr(data-text);
    position: absolute;
    width: 0;
    border-right: 0.3rem solid #007BFF;
    color: #007BFF;
    white-space: nowrap;
    overflow: hidden;
    animation: fillText 4s linear infinite;
}

@keyframes fillText {

    10%,
    100% {
        width: 0;
    }

    70%,
    90% {
        width: 100%;
    }
}

.home-content p {
    font-size: 1.8rem;
    font-weight: 500;
    line-height: 1.8;
}

/* about me */
.about {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10rem;
}

.about h2 {
    margin-top: 0;
}

.about-me {
    font-size: 1.8rem;
    font-weight: 500;
    margin-top: 3rem;
}

.about-me p {
    margin: 1.5rem 0;
}

.about-me p span {
    font-weight: 800;
    font-size: 2rem;
}

/* Hobbies */
.hobbies h2 {
    margin-bottom: 3rem;
}

.hobbies-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    align-items: center;
    gap: 2.5rem;
}

.hobbies-box {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    background-color: var(--main-color);
    color: white;
    height: 300px;
    border-radius: 3rem;
    border: 5px solid transparent;
    transition: 0.3s ease-in-out;
}

.hobbies-box:hover {
    background-color: white;
    color: var(--main-color);
    border: 5px solid var(--main-color);
    transform: scale(1.02);
}

.hobbies-wrapper {
    margin: 1.5rem;
}

.hobbies-icon i {
    font-size: 4rem;
    padding: 1.5rem 0;
}

.hobbies-info h4 {
    padding-bottom: 1.5rem;
}

.hobbies-info p {
    font-size: 1.8rem;
}

/* Skills */
.skills h2 {
    margin-bottom: 3rem;
}

.skills-title {
    display: flex;
    text-align: center;
    align-items: center;
}

.skills-title i {
    font-size: 2.2rem;
    margin-right: 1rem;
    color: #fff;
    background: linear-gradient(135deg, #007BFF, #8E44AD);
    padding: 1.6rem 1rem;
    border-radius: 0.8rem;
}

.skills-box {
    position: relative;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 2.5rem;
    margin: 4rem;
}

.skills-box .circle {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 200px;
    border-radius: 50%;
}

.skills-box .circle::before {
    content: "";
    position: absolute;
    inset: 5px;
    border-radius: 50%;
    background: #fff;
    opacity: 0.5;
}

.skills-box .circle::after {
    content: "";
    position: absolute;
    width: 120px;
    height: 120px;
    background: var(--background-color);
    border: 15px solid #fff;
    border-radius: 50%;
}

.skills-box .circle .number {
    position: relative;
    color: var(--text-color);
    z-index: 10;
    line-height: 2rem;
    font-size: 3rem;
    font-weight: 600;
}

.skills-box .circle span {
    font-size: 1.6rem;
    font-weight: 600;
}

.skills-box .circle p {
    position: relative;
    color: var(--text-color);
    z-index: 10;
    font-size: 1.6rem;
    font-weight: 500;
}

.soft-skills-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    align-items: center;
    gap: 2.5rem;
}

.soft-skills-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
    font-size: 1.4rem;
    background-color: var(--background-color);
    border: 2px solid var(--boder-color);
    height: 250px;
    border-radius: 3rem;
    box-shadow: 0 15px 20px var(--boder-color);
    transition: 0.3s ease;
}

.soft-skills-box i {
    font-size: 3rem;
    color: var(--main-color);
    margin-bottom: 1rem;
}

.soft-skills-box__content span {
    font-size: 2rem;
    color: #000;
    font-weight: 600;
    margin-bottom: 2rem;
}

.soft-skills-box:hover {
    transform: translateY(-10px);
    box-shadow: 0 20px 30px var(--boder-color);
    transition: all 0.3s ease;
    position: relative;
}

.soft-skills-box::before {
    content: "";
    position: absolute;
    top: 15px;
    left: 50%;
    transform: translateX(-50%);
    width: 60px;
    height: 4px;
    background-color: var(--main-color);
    border-radius: 2px;
    opacity: 0;
    transition: opacity 0.3s ease;
}

.soft-skills-box:hover::before {
    opacity: 1;
}

/* achievements */
.achievements h2 {
    margin-bottom: 4rem;
}

.achievements-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    align-items: center;
    gap: 2.5rem;
}

.achievements-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    border: 2px solid var(--main-color);
    height: 400px;
    border-radius: 3rem;
    box-shadow: 0 0 5px var(--main-color);
    transition: 0.3s ease;
}

.achievements-box:hover {
    box-shadow: 0 0 25px var(--main-color), 0 0 50px var(--main-color);
    transform: scale(1.02);
}

.achievements-box p {
    font-size: 1.8rem;
    font-weight: 700;
}

.achievements-box a {
    margin: 6rem 0 3rem 0;
    font-size: 1.6rem;
    color: white;
    font-weight: 600;
    letter-spacing: 1px;
    padding: 1rem 2rem;
    border-radius: 3rem;
    background-color: var(--main-color);
    cursor: pointer;
    transition: 0.2s ease;
}

.achievements-box a:hover {
    color: var(--main-color);
    background-color: white;
    border: 2px solid var(--main-color);
}

/* project */
.projects h2 {
    margin-bottom: 4rem;
}

.projects-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    align-items: center;
    gap: 2.5rem;
}

.projects-box {
    position: relative;
    border-radius: 3rem;
    box-shadow: 0 0 5px var(--main-color);
    display: flex;
    overflow: hidden;
    flex-direction: column;
}

.projects-box img {
    width: 100%;
    transition: 0.5s ease;
}

.projects-box:hover img {
    transform: scale(1.1);
}

.projects-layer {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(rgba(0, 0, 0, 0.8), var(--main-color));
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    padding: 1rem;
    transform: translateY(100%);
    transition: 0.5s ease;
}

.projects-box:hover .projects-layer {
    transform: translateY(0);
}

.projects-layer p {
    font-size: 1.8rem;
    margin: 0.5rem;
}

.projects-layer a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 5rem;
    height: 5rem;
    background-color: white;
    border-radius: 50%;
    cursor: pointer;
}

.projects-layer a i {
    font-size: 1.8rem;
    color: var(--text-color);
}

/* contact */
.contact h2 {
    margin-bottom: 4rem;
}

.contact-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10rem;
    font-size: 1.8rem;
}

.contact-form form {
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    gap: 2rem;
}

.contact-input input,
.contact-message textarea {
    width: 100%;
    padding: 2rem;
    font-size: 1.8rem;
    outline: none;
    border-radius: 1rem;
    border: 2px solid rgba(30, 144, 255, 0.5);
    margin: 1.5rem 0;
}

.contact-input input:focus,
.contact-message textarea:focus {
    border: 2px solid var(--main-color);
}

.contact-message input {
    color: white;
    font-weight: 500;
    padding: 1rem 2rem;
    border: none;
    border-radius: 2rem;
    background: linear-gradient(135deg, #007BFF, #8E44AD);
    box-shadow: 0 0 5px var(--main-color);
    cursor: pointer;
    transition: 0.2s ease;
}

.contact-message input:hover {
    transform: scale(1.02);
}

/* footer */

.footer {
    padding: 5rem 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: white;
    border-top: 1px solid var(--boder-color);
}

.social-icons a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin: 0 1rem 3rem 1rem;
    text-decoration: none;
    padding: 1rem;
    font-size: 1.8rem;
    background-color: transparent;
    border: 2px solid var(--main-color);
    border-radius: 50%;
    color: var(--main-color);
    transition: 0.3s ease-in-out;
}

.social-icons a:hover {
    color: white;
    background-color: var(--main-color);
    transform: scale(1.2) translateY(-5px);
    box-shadow: 0 0 25px var(--main-color);
}

.footer ul {
    list-style: none;
    font-size: 1.8rem;
    font-weight: 500;
}

.footer ul li i {
    color: var(--main-color);
    margin-right: 2rem;
}

@media (max-width: 1024px) {
    #menu-icon {
        display: block;
    }

    .navbar {
        position: absolute;
        top: 100%;
        right: 0;
        width: 50%;
        padding: 2rem;
        background: white;
        border-bottom-left-radius: 2rem;
        border-left: 2px solid var(--main-color);
        border-bottom: 2px solid var(--main-color);
        display: none;
    }

    .navbar a {
        display: block;
        margin: 1rem 0;
        font-size: 2rem;
    }

    .navbar.active {
        display: block;
    }

    .home {
        flex-direction: column-reverse;
        margin: 5rem;
        gap: 5rem
    }

    .home-content {
        align-items: center;
        text-align: center;
    }

    .my-img {
        width: 56vw;
        padding: 2rem;
    }

    .about {
        flex-direction: column;
        text-align: center;
    }

    .contact-form form {
        flex-direction: column;
    }

    .contact-message {
        margin-bottom: 4rem;
    }
}